.textureContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.textureContainer img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: var(--main-color);
  border-radius: 1rem;
}

.woodName {
  text-align: center;
}
.table {
  width: 100%;
  margin: 5rem 0;
}

.tableHeader {
  /* background-color: var(--main-color); */
  pointer-events: none;
}
