.carousel {
  position: relative;
  overflow: hidden;
  padding: 8rem 0;
  width: 100%;
}
.imgContainer {
  display: flex;
  cursor: grab;
  /* gap: 2rem; */
  width: 100vw;
}

.imgContainer.active {
  cursor: grabbing;
}
.carouselImg {
  display: flex;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  width: 40%;
  justify-content: space-between;
  border-radius: 1rem;
  object-fit: cover;
}

.carouselImg:nth-child(even) {
  margin-right: 5%;
}
.carouselImg:nth-child(odd) {
  margin-right: 10%;
  margin-left: 5%;
}

.dotsContainer {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  gap: 1rem;
}

.dots {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: white;
  transition-property: color;
  transition-duration: 0.3s;
}
.dots.activeDot {
  background-color: var(--main-color);
}

.absolute {
  display: flex;
  justify-content: center;
  width: 100%;
  /* position: absolute; */
  transform: translateY(-2rem);
}
