.aboutUsContainer {
  display: flex;
  width: 90%;
  min-width: 49rem;
  height: auto;
  min-height: 70vh;
  border-radius: 2rem;
  margin: auto;
  margin-bottom: 2rem;
  background-color: var(--main-color);
  font-family: "Firago-Regular";
}

.aboutUs {
  padding: 2rem;
  width: 50%;
  text-align: center;
}
.aboutUsHeading {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}
.aboutUsText {
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.aboutUsImg {
  width: 90%;
  height: 90%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.seeMoreBtn {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--secondary-color);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}
.seeMoreBtn:hover {
  background-color: rgba(211, 165, 82, 0.5);
  color: white;
  transform: scale(1.1);
}
.seeMoreBtn:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 800px) {
  .aboutUsContainer {
    width: 100%;
    min-width: 100%;
    flex-direction: column-reverse;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    align-items: center;
  }
  .aboutUs {
    width: 100%;
  }
  .imgContainer {
    width: 100%;
  }
  .aboutUsImg {
    width: 60%;
    min-width: 20rem;
  }
}

@media only screen and (max-width: 767px) {
}
