.LandingPage {
  background-color: #f7f9f9;
  width: 90%;
  margin: auto;
  margin-bottom: 5rem;
}

.coverImg {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
  aspect-ratio: 16/9;
  height: 80vh;
}

.partnersContainer {
  margin: 5rem 0;
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.partnersContainer img {
  border-radius: 50%;
  object-fit: cover;
  width: 20%;
  min-width: 10rem;
  height: 10rem;
}

@media only screen and (max-width: 800px) {
  .LandingPage {
    width: 100%;
  }
  .coverImg {
    height: auto;
  }
  .partnersContainer {
    flex-wrap: wrap;
  }
  .partnersContainer img {
    min-width: 7rem;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
}
