.LandingPage {
  background-color: #f7f9f9;
  width: 90%;
  margin: auto;
}

.coverImg {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
  aspect-ratio: 16/9;
  height: 80vh;
}
.partnersHeading {
  font-size: 2rem;
  color: var(--main-color);
  text-align: center;
  font-weight: 600;
  margin-top: 5rem;
}
.partnersContainer {
  margin: 5rem 0;
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.partnersContainer img {
  border-radius: 50%;
  object-fit: cover;
  width: 20%;
  min-width: 10rem;
  height: 10rem;
}
