.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 2rem;
  background: #3d6059;
  box-shadow: 0px 1px 5px black;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-bottom: 2rem;
}
.navigation:hover {
  /* background: rgba(0, 0, 0, 0.1); */
  box-shadow: 0 2px 10px black;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navLinks {
  display: flex;
  position: relative;
  gap: 2.5rem;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style-type: none;
  padding: 0;
}
.link {
  padding: 0.2rem;
}
.link:hover {
  text-shadow: 0 0 10px var(--secondary-color);
}

.active {
  color: var(--secondary-color);
  text-shadow: 1px 1px 10px var(--main-color);
}

.iconsContainer {
  display: flex;
  width: 9rem;
  justify-content: space-around;
  /* align-items: end; */
}
svg {
  color: white;
  cursor: pointer;
}
.fbIcon {
  color: white;
  width: 1.7rem;
  height: 1.7rem;
}
.fbIcon:hover {
  scale: 1.1;
}
.internalizationIcon {
  width: 1.8rem;
  height: 1.8rem;
}
.fbLink {
  padding: 0;
  margin: 0;
  border: 0;
}
.internalizationIcon:hover {
  scale: 1.1;
}
.menuIcon {
  width: 2rem;
  height: 2rem;
}

.menuIcon:hover {
  animation: menu 1s ease;
}

.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100vh;
  z-index: 14;
  background-color: #477067;
}
.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  background-color: #1f312e;
  margin-bottom: 3rem;
  font-weight: 600;
  color: white;
  padding: 0 1rem;
}
.menuHeader svg {
  width: 2rem;
  height: 2rem;
}
.menuLinks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.homeLinks {
  position: absolute;
  left: 0;
  top: 100%;
}

@keyframes menu {
  0% {
    scale: 1;
    rotate: 0;
  }
  50% {
    scale: 1.2;
    rotate: 90deg;
  }
  100% {
    scale: 1;
    rotate: 0;
  }
}
