/* body {
  background-image: url("./assets/wood10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
* {
  z-index: 0;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: Firago;
  src: url("./fonts/FiraGO-Regular.otf") format("opentype");
}
body {
  font-family: Firago;
  background-color: #f7f9f9;
}
