* {
  z-index: 0;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Firago-Regular";
  src: url("./fonts/FiraGO-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Firago-Medium";
  src: url("./fonts/FiraGO-Medium.otf") format("opentype");
}
body {
  font-family: "Firago-Regular";
  background-color: #f7f9f9;
}
