.contactContainer {
  display: flex;
  margin: 0 auto 5rem;
  width: 90%;
  height: 30rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 25rem;
}

.infoContainer {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color);
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  margin: 1.2rem;
}
.iconContainer svg {
  width: 2rem;
  height: 2rem;
  fill: var(--secondary-color);
}
.textContainer {
  color: white;
  display: flex;
  flex-direction: column;
}
.iconContainer:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);

  svg {
    fill: var(--main-color);
    cursor: auto;
  }
}
